@import "../vars.scss";

.charsheet-vampire {
	background-color: white;
	color: $color-vampire;

	#attr-cats {
		text-transform: lowercase;

		color: $cat-text;
	}

	.sheet-dot-full {
		background-color: $color-vampire !important;
	}
}