@font-face {
    font-family: 'Goudy';
    src: url('Goudy-Bold.woff2') format('woff2'),
        url('Goudy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KidsFirstPrintFont';
    src: url('KidsFirstPrintFont.woff2') format('woff2'),
        url('KidsFirstPrintFont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Grunge';
    src: url('GrungeUpdate.woff2') format('woff2'),
        url('GrungeUpdate.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Garish Monde';
    src: url('GarishMonde.woff2') format('woff2'),
        url('GarishMonde.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GF Ordner Normal';
    src: url('OrdnerNormal.woff2') format('woff2'),
        url('OrdnerNormal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'YouMurderer BB';
    src: url('YouMurdererBB.woff2') format('woff2'),
        url('YouMurdererBB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Goudy';
    src: url('Goudy-BoldItalic.woff2') format('woff2'),
        url('Goudy-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GF Halda Smashed';
    src: url('GF-HaldaSmashed.woff2') format('woff2'),
        url('GF-HaldaSmashed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GF Halda Normal';
    src: url('GF-HaldaNormal.woff2') format('woff2'),
        url('GF-HaldaNormal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VTSmithUpright';
    src: url('VTSmithUpright.woff2') format('woff2'),
        url('VTSmithUpright.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GF Ordner Inverted';
    src: url('OrdnerNormal.woff2') format('woff2'),
        url('OrdnerNormal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* @font-face {
    font-family: 'Escalido';
    src: url('EscalidoStreak.woff2') format('woff2'),
        url('EscalidoStreak.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */

@font-face {
    font-family: 'bulkyRefuse Type';
    src: url('BulkyRefuseTypeNormal.woff2') format('woff2'),
        url('BulkyRefuseTypeNormal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Goudy';
    src: url('Goudy.woff2') format('woff2'),
        url('Goudy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Escalido';
    src: url('EscalidoGothico.woff2') format('woff2'),
        url('EscalidoGothico.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Caslon Antique';
    src: url('CaslonAntique.woff2') format('woff2'),
        url('CaslonAntique.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GF Ordner Inverted';
    src: url('OrdnerNormal.woff2') format('woff2'),
        url('OrdnerNormal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PlasticMan';
    src: url('PlasticMan.woff2') format('woff2'),
        url('PlasticMan.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

