@import "./splats/vampire.scss";
@import "./splats/mortal.scss";
@import "./splats/mage.scss";
@import "./splats/werewolf.scss";

body {
  color: $text;
  background-color: $primary !important;
}

input.line {
	border-bottom: 1px solid;
	// margin-top: -15px !important;
	padding: 0px;
	height: 20px;
}