$primary: white !default;
$accent: rgb(47, 58, 78) !default;

// $p-dark : #000000;

// $secondary: #616161;
// $s-light  : #8e8e8e;
// $s-dark   : #373737;

$text: black !default;
$text-light: white !default;

/*
* Define game-line colors
*/
$color-mortal:     #2A2D80;
$color-vampire:    #B21800;
$color-werewolf:   #E9813E;
$color-mage:       #0000FF;
$color-promethean: #660099;
$color-changeling: #006600;
$color-geist:      #005394;
$color-mummy:      #996600;
$color-demon:      #2A2D80;
$color-beast:      #2A2D80;
$color-hunter:     #2A2D80;
$color-homebrew:   #2A2D80;
$color-wod-demon:  #e95500;