@font-face {
    font-family: 'Goudy Old Style';
    src: url('GoudyOldStyleT-Regular.woff2') format('woff2'),
        url('GoudyOldStyleT-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lilith';
    src: url('LilithRegular.woff2') format('woff2'),
        url('LilithRegular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

